.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container h2 {
  text-align: center;
}

.grid-container {
  display: flex;
}

.wards-container {
  flex: 1;
  padding: 10px;
  gap: 20px;
}
.operations-container {
  flex: 2;
  padding: 10px;
}
