<div class="list-container">
  <h2>Wards List</h2>
  <div *ngIf="errorMessage" class="alert">{{ errorMessage }}</div>
  <ul>
    <li *ngFor="let ward of wards">
      <div
        class="editable"
        *ngIf="!ward.editMode"
        (click)="ward.editMode = true"
      >
        <span>{{ ward.name }}</span>
        <i class="fas fa-pen edit-icon"></i>
      </div>
      <div *ngIf="ward.editMode">
        <input [(ngModel)]="ward.name" (blur)="updateWard(ward)" />
      </div>
      <button
        (click)="deleteWard(ward.id); $event.stopPropagation()"
        class="btn-delete"
      >
        Delete
      </button>
    </li>
  </ul>
</div>
